<div class="title">О ДИНАМИЧЕСКОЙ ОСТРОТЕ ЗРЕНИЯ</div>
<div class="context"><span></span>Динамическая острота зрения (ДОЗ) - это способность восприятия движущихся объектов.
  Различение движущихся объектов, в отличие от опознавания неподвижных, является более сложным актом,
  включающим способность устанавливать скорость и направление движения объекта и способность
  глазодвигательного аппарата "схватить и удержать" изображение предмета на время,
  достаточное, чтобы увидеть его детали. Для хорошей динамической остроты зрения необходимы хорошая
  статическая острота зрения (не только фовеальная, но и парафовеальная) и
  нормальная окуломоторная координация, обеспечивающая слежение за объектом.
  В экспериментах доказано, что на сдвиг изображения на сетчатке реагируют прежде всего ганглиозные клетки.
  С помощью движущихся стимулов определено, что главные виды детекции (направления и скорости движения)
  обеспечивают зрительные нейроны передних бугров четверохолмия и различные области зрительной коры.</div>
<div class="context"><span></span>Динамическая острота зрения снижается при повышении скорости движения объекта.
  У лиц старшего возраста динамическая острота зрения ниже, чем у молодых людей,
  в связи с возрастным снижением окуломоторной функции. Снижается динамическая острота зрения при бессоннице,
  физической нагрузке, утомлении. Может быть ценным показателем квалификации лиц, связанных с
  восприятием движущихся предметов. Некоторые авторы указывают на необходимость определения
  динамической остроты зрения при квалификации водителя, летчика и др.</div>
<div class="context"><span></span>Для исследования скорости обработки зрительных сигналов и
  инициирования глазодвигательной реакции в нашей системе будет использоваться кольцо Ландольта.
Пользователь должен смотреть на экран, находясь на заданном расстоянии от него и как можно быстрее среагировать
на появившееся кольцо Ландольта и определить сторону разрыва</div>

