<div class="header">
  <div class="header-link header-link-first" routerLink="/preview">
    о динамической остроте зрения
  </div>
  <div class="header-link">
    <a routerLink="/test">Тест</a>
  </div>
  <div class="header-link">
    <a routerLink="/resultlist">Показать мои результаты</a>
  </div>
  <div class="header-link header-link-registration">
    <div routerLink="/registration">
      регистрация
    </div>
    <div routerLink="/login" *ngIf="!user">
      войти
    </div>
    <div (click)="logout()" *ngIf="user">
      выйти
    </div>
  </div>
</div>
