body {
  background-color: black;
  margin: 0;
  font-weight: 200;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
}
span:empty {
  margin-left: 50px;
  display: inline-block;
}
