body {
  background-color: black;
  margin: 0;
  font-weight: 200;
  font-variant: small-caps;
  font-family: sans-serif;
  color: white;
}
span:empty {
  margin-left: 50px;
  display: inline-block;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.error-message {
  background-color:red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
